.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  margin-bottom: 30px;
  position: relative;
}
.card.card-function {
  background-color: #f7f7f7;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
.card.card-function .card__number {
  background-color: #9356DC;
  border-radius: 50%;
  color: #fff;
  padding: 0px 10px;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
}
.card.card-function .card__number p {
  position: relative;
  top: -10px;
}
.card.card-function .card-forme {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 15px;
  width: 100%;
  padding-left: 30px;
}
.card.card-function .card-forme-color {
  background-color: #f5edff;
}
.card.card-function .icon-color {
  color: #9356DC;
  font-size: 20px;
}
.card .card__icon {
  position: relative;
  display: block;
  bottom: -5px;
  width: 30px;
  height: 30px;
}
.card .card__icon .icon-color-neutral {
  font-size: 20px;
  color: #7e7e7e;
}
.card.card-restaurant {
  flex-direction: column;
  width: 93%;
  margin-left: 15px;
}
.card.card-restaurant a {
  width: 100%;
}
.card.card-restaurant .card__content {
  padding-left: 10px;
}
.card.card-restaurant .card__content .card__heading {
  margin: 0px;
  padding-top: 10px;
}
.card.card-restaurant .card__content p {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.card.menu-card {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px 10px;
  display: block;
  border-radius: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card.menu-card .disposition-cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card__image {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0px 0px;
}
.card__image img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 100%;
}
.card__image .badge {
  position: absolute;
  background-color: #99e2d0;
  top: 14px;
  right: 14px;
  padding: 5px;
  border-radius: 2px;
}
.card__image .badge p {
  color: #008766;
  font-size: 14px;
  margin: 0px;
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  99% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  99% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}
.loading {
  width: 150px;
  height: 150px;
  border: 5px solid #9356DC;
  border-bottom-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 65px;
  left: 125px;
  -webkit-animation: rotation;
          animation: rotation;
  -webkit-animation-duration: 550ms;
          animation-duration: 550ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0, 2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0, 2;
  }
  100% {
    opacity: 1;
  }
}
#app {
  -webkit-animation: fadein;
          animation: fadein;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

span {
  width: 0%;
  display: block;
  overflow: hidden;
  transition: width 350ms;
  height: 100%;
}

button:focus span {
  width: 100%;
}

.card__icon-heart {
  position: absolute;
  bottom: 19px;
  right: 25px;
}
.card__icon-heart button {
  background-color: #fff;
  position: relative;
  border: none;
  width: 25px;
  height: 25px;
}
.card__icon-heart i {
  font-size: 25px;
}
.card__icon-heart button > * {
  position: absolute;
  top: 0px;
  right: 0px;
}
.card__icon-heart .fa-solid {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}

@-webkit-keyframes appearance {
  0% {
    opacity: 0;
    width: 70%;
  }
  50% {
    opacity: 0.5;
    width: 80%;
  }
  100% {
    opacity: 1;
    width: 90%;
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
    width: 70%;
  }
  50% {
    opacity: 0.5;
    width: 80%;
  }
  100% {
    opacity: 1;
    width: 90%;
  }
}
.delay-0 {
  -webkit-animation-name: appearance;
          animation-name: appearance;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.delay-1 {
  -webkit-animation-name: appearance;
          animation-name: appearance;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.delay-2 {
  -webkit-animation-name: appearance;
          animation-name: appearance;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.delay-3 {
  -webkit-animation-name: appearance;
          animation-name: appearance;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.validation-cards {
  background-color: #99e2d0;
  position: absolute;
  right: -82px;
  height: 150%;
  bottom: -10px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 500ms;
}
.validation-cards i {
  color: #fff;
  font-size: 28px;
  transform: rotate(0);
  transition-duration: 500ms;
}

.disposition-cards:focus .validation-cards {
  right: -11px;
}
.disposition-cards:focus .validation-cards i {
  transform: rotate(360deg);
}

.disposition-cards:focus .price {
  position: relative;
  right: 80px;
}

.disposition-cards:focus .menu-text {
  width: 150px;
}

body {
  font-family: "Roboto";
  margin-right: auto;
  margin-left: auto;
  margin: 0px;
}

a {
  color: #000;
  text-decoration: none;
}

#main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}
#main-header img {
  width: 50%;
  padding-right: 50px;
}
#main-header .img-header {
  padding: 0px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  align-items: baseline;
}
.location i {
  margin-right: 10px;
}

.grid {
  background-color: #f7f7f7;
  padding-bottom: 50px;
}

.grid-text {
  text-align: center;
  padding: 60px;
}
.grid-text p {
  padding: 20px;
}

.button {
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  border-radius: 25px;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  width: 250px;
  cursor: pointer;
  background-color: #686868;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  transition-duration: 250ms;
}
.button:hover {
  background-color: #fff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
}

.title__head {
  padding: 40px 20px;
}

.menu-img {
  border-radius: 0px;
  overflow: visible;
  bottom: -20px;
}

.menu {
  background-color: #f7f7f7;
  border-radius: 45px 45px 0px 0px;
  padding-top: 15px;
  position: relative;
}
.menu .menu-title {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 15px;
}
.menu .menu-title i {
  transform: scale(1.5);
}
.menu .bordure {
  border-bottom: #99E2D0 2px solid;
  width: 10%;
  margin-top: 35px;
}
.menu h2 {
  font-weight: lighter;
  font-size: 18px;
  margin: auto;
}
.menu h3 {
  margin: 0px;
}
.menu p {
  margin: 0px;
  font-weight: lighter;
}
.menu .menu-text p {
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: nowrap;
}
.menu .price {
  font-weight: 700;
  transition-duration: 500ms;
}
.menu .btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  padding: 50px 0px;
}

#main-footer {
  background-color: #353535;
  color: white;
  padding: 25px;
}
#main-footer .text-logo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  margin: 0px;
  padding-bottom: 10px;
}
#main-footer .text-footer {
  display: flex;
  flex-direction: column;
}
#main-footer .position {
  display: flex;
  align-items: baseline;
}
#main-footer a {
  color: white;
  margin: 5px;
}
#main-footer .position a {
  padding-left: 10px;
}/*# sourceMappingURL=style.css.map */