span{
    width: 0%;
    display: block;
    overflow: hidden;
    transition: width 350ms;
    height: 100%;
}

button:focus span{
    width: 100%;
}

.card__icon-heart{

    position: absolute;
    bottom: 19px;
    right: 25px;
    
    button{
        background-color: #fff;
        position: relative;
        border: none;
        width: 25px;
        height: 25px;
    }

    i{
        font-size: 25px;

    }

    button > * {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .fa-solid{
        background: linear-gradient($primary, $secondary);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        top: 0;
        right: 0;
    }
}