$card-radius: 15px;
$card-shadow: 0px 3px 15px rgba(#000, 0.3);
$card-bg-color: #fff;
$card-color-icon : #7e7e7e;


@mixin card($bg-color: $card-bg-color, $border-radius: $card-radius, $box-shadow: $card-shadow){
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    background-color: $bg-color;
}

.card{
    @include flex(center, center);
    @include card();
    margin-bottom: 30px;
    position: relative;

    &.card-function{
        background-color: $background;
        width: 92%;
        margin-right: auto;
        margin-left: auto;

        @media screen and (min-width: 768px) {
            width: 29%;
        }

        @media screen and (min-width:992px) {
            width: 30%;
        }

        .card__number{
            background-color: $primary;
            border-radius: 50%;
            color: $card-bg-color;
            padding: 0px 10px;
            position: absolute;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
            height: 60%;

            p{
                position: relative;
                top: -10px;
            }
        }

        .card-forme{
            @include flex(flex-start, center);
            background-color: $background;
            border-radius: 15px;
            width: 100%;
            padding-left: 30px;

            @media screen and (min-width:768px) {
                padding-left: 22px;
            }
        }

        .card-forme-color{
            background-color: #f5edff;
        }

        .icon-color{
            color: $primary;
            font-size: 20px;
        }

        @media screen and (min-width: 768px) {
            .card__heading--size{
                font-size: 15px;
            }
        }

        @media screen and (min-width: 992px) {
            .card__heading--size{
                padding-left: 10px;
            }
        }
    }


    .card__icon{
        position: relative;
        display: block;
        bottom: -5px;
        width: 30px;
        height: 30px;

        @media screen and (min-width:768px) {
            width: 25px;
        }

        .icon-color-neutral{
            font-size: 20px;
            color: $card-color-icon;
        }
    }

    &.card-restaurant{
        flex-direction: column;
        width: 96%;

        @media screen and (min-width: 768px) {
         width: 70%;
         margin-left: auto;
         margin-right: auto;   
        }

        @media screen and (min-width: 992px) {
            width: 90%;
            margin: 0px;
        }

        a{
            width: 100%;
        }

        .card__content{
            padding: 10px;
            padding-bottom: 15px;
        
            .card__heading{
                margin: 0px;
            }
        
            .card__byline{
                font-weight: 300;
                margin: 0px;
                padding-top: 5px;
            }
        }
    }

    &.menu-card{
        width: 90%;
        max-height: 45px;
        margin-top: 20px;
        padding: 10px 10px;
        display: block;
        border-radius: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        

        .disposition-cards{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            position: relative;

            @media screen and (min-width: 992px) {
                padding: 0px 15px;
            }

            .menu-text > *{
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
.card__image{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0px 0px;

    @media screen and (min-width: 768px) {
        height: 250px;
    }

    @media screen and (min-width: 992px) {
        height: 200px;
    }

    img{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;

        @media screen and (min-width: 768px) {
            width: 125%;
        }

        @media screen and (min-width: 992px) {
            width: 133%;
        }

    }

    .badge{
        position: absolute;
        background-color: #99e2d0;
        top: 14px;
        right: 14px;
        padding: 5px 11px;
        border-radius: 2px;

        p{
            color: #008766;
            font-size: 14px;
            margin: 0px;
        }
    }
}

@media screen and (min-width:992px){
    .card-restaurant-position{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3%;
    padding-bottom: 45px;
    }
}