@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    99% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
        opacity: 0;
    }
}

@keyframes fadein{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes transparent{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.anim__loading__spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 14%;


    .loading{
        width: 150px;
        height: 150px;
        border: 5px solid $primary;
        border-bottom-color: transparent;
        border-radius: 50%;
        position: absolute;
        animation: rotation;
        animation-duration: 550ms;
        animation-timing-function: linear;
        animation-delay: 0ms;
        animation-iteration-count: 4;
        animation-fill-mode: forwards;
    }

    .spinner{
    font-size: 17px;
    color: $tertiaire;
    font-family: 'Shrikhand';
    position: absolute;
    animation: transparent;
    animation-duration: 5s;
    animation-fill-mode: forwards;

    @media screen and (min-width: 768px) {
        font-size: 20px;     
    }
    }
}

#app{
    animation: fadein;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-direction: normal; 
    animation-fill-mode: forwards;
}
