@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    99% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
        opacity: 0;
    }
}

.loading{
    width: 150px;
    height: 150px;
    border: 5px solid $primary;
    border-bottom-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 65px;
    left: 125px;
    animation: rotation;
    animation-duration: 550ms;
    animation-timing-function: linear;
    animation-delay: 0ms;
    animation-iteration-count: 4;
    animation-fill-mode: forwards;

    
}

@keyframes fadein{
    0% {opacity: 0;}
    50% {opacity: 0,2;}
    100% {opacity: 1;}
}

#app{
    animation: fadein;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-direction: normal; 
    animation-fill-mode: forwards;
}
