.validation__cards{
    background-color: #99e2d0;
    position: absolute;
    right: -82px;
    height: 72px;
    bottom: -14px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 500ms;

    i{
        color: #fff;
        font-size: 28px;
        transform: rotate(0);

        transition-duration: 500ms;
    }
}


.disposition__cards:focus .validation__cards{
    right: -11px;

    i{
        transform: rotate(360deg);
    }
}

.disposition__cards:focus .price{
    right: 80px;
}

.disposition__cards:focus .menu__text{
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
