.validation-cards{
    background-color: #99e2d0;
    position: absolute;
    right: -82px;
    height: 150%;
    bottom: -10px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 500ms;

    i{
        color: #fff;
        font-size: 28px;
        transform: rotate(0);
        transition-duration: 500ms;
    }
}

.disposition-cards:focus .validation-cards{
    right: -11px;

    i{
        transform: rotate(360deg);
    }
}

.disposition-cards:focus .price{
    position: relative;
    right: 80px;
}

.disposition-cards:focus .menu-text{
    width: 150px;
}
